{{page-title "Playground"}}

<h1>Fun Start Wars Movie Details!</h1> <br>

<nav>
  {{#link-to 'movies'}}Movies{{/link-to}}
  {{#link-to 'characters'}}Characters{{/link-to}}
</nav>

<p>This is a Star Wars movie details site</p>

<div class="main-content">
  {{outlet}}
</div>