{{page-title "Characters"}}
<ul>
  {{#each model as |character|}}
    <li>
      <CharacterListEntry @character={{character.attributes}}>
      </CharacterListEntry>
    </li>
  {{/each}}
</ul>
{{outlet}}